<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>
<%= form_with url: flights_path, method: :get do |f| %>
  <%= f.label :departure_code %>
  <%= f.select :departure_code, @airports, selected: @search[:departure_code]  %>

  <%= f.label :arrival_code %>
  <%= f.select :arrival_code, @airports, selected: @search[:arrival_code]  %>

  <%= f.label :num_tickets %>
  <%= f.select :num_tickets, @num_tickets, selected: @search[:num_tickets] %>

  <%= f.label :start_date %>
  <%# select_tag :start_date, 
      options_from_collection_for_select(@flight_dates, 
                                         :start_date_format_to_date, 
                                         :start_date_format_to_full_mdy,
                                         @search[:start_date]) %>
  <%= f.select :start_date, @flight_dates, selected: @search[:start_date] %>

  <%= f.submit "Search" %>
<% end %>

<% @flights.each_with_index do |flight, idx| %>
  <%= idx + 1 %>.
  <div>
    Departure Airport:
    <%= flight.departure_airport.code %>
  </div>
  <div>
    Arrival Airport:
    <%= flight.arrival_airport.code %>
  </div>
  <div>
    Start Date:
    <%= flight.start_date %>
  </div>
  <div>
    Flight Duration:
    <%= flight.flight_duration.inspect %>
  </div>
  <br>
<% end %>